# TMLCC 2021

## Loading Data

In [6]:
import pandas as pd

# Loading train.csv
df_raw = pd.read_csv('new_train.csv')

In [7]:
# Show dataframe
df_raw.head()

,MOFname,volume,weight,density,surface_area,void_fraction,void_volume,functional_groups,metal_linker,organic_linker1,organic_linker2,topology,CO2/N2_selectivity,heat_adsorption_CO2,CO2_working_capacity
0,mof_unit_1,1116.667429,875.240600,1.301526,0.00,0.07899,0.0607,COOH-OEt,3,4,11,pcu,22.864166,6.786041,105.284502
1,mof_unit_2,2769.503842,2211.697211,1.326090,603.61,0.13794,0.1040,F-OMe,10,44,57,etb,33.616780,7.147286,101.224774
2,mof_unit_3,1089.818728,773.687960,1.178856,788.50,0.14874,0.1262,OMe-COOH,2,22,24,pcu,19.263726,6.347967,118.987011
3,mof_unit_4,2205.198301,1304.638720,0.982408,1441.53,0.21814,0.2220,H-SO3H,9,17,24,sra,25.701377,6.190085,187.626004
4,mof_unit_5,1137.800963,901.736120,1.316020,0.00,0.07778,0.0591,NHMe-OH,2,1,22,pcu,30.001838,6.478063,79.210001

In [4]:
# Change column name
df = df_raw.rename(columns = {'volume [A^3]' : 'volume', 'weight [u]' : 'weight','surface_area [m^2/g]' : 'surface_area', 'void_volume [cm^3/g]' : 'void_volume', 'heat_adsorption_CO2_P0.15bar_T298K [kcal/mol]' : 'heat_adsorption_CO2_P0.15bar_T298K', 'CO2_working_capacity [mL/g]' : 'CO2_working_capacity'})

In [5]:
# Show dataframe after chaning column name
df.head()

,MOFname,volume,weight,density,surface_area,void_fraction,void_volume,functional_groups,metal_linker,organic_linker1,organic_linker2,topology,CO2/N2_selectivity,heat_adsorption_CO2,CO2_working_capacity
0,mof_unit_1,1116.667429,875.240600,1.301526,0.00,0.07899,0.0607,COOH-OEt,3,4,11,pcu,22.864166,6.786041,105.284502
1,mof_unit_2,2769.503842,2211.697211,1.326090,603.61,0.13794,0.1040,F-OMe,10,44,57,etb,33.616780,7.147286,101.224774
2,mof_unit_3,1089.818728,773.687960,1.178856,788.50,0.14874,0.1262,OMe-COOH,2,22,24,pcu,19.263726,6.347967,118.987011
3,mof_unit_4,2205.198301,1304.638720,0.982408,1441.53,0.21814,0.2220,H-SO3H,9,17,24,sra,25.701377,6.190085,187.626004
4,mof_unit_5,1137.800963,901.736120,1.316020,0.00,0.07778,0.0591,NHMe-OH,2,1,22,pcu,30.001838,6.478063,79.210001

## Cleaning data

In [32]:
# Show sum of NULL for each column
df.isnull().sum()

MOFname                    0
volume                     0
weight                     0
density                    0
surface_area               0
void_fraction              0
void_volume                0
functional_groups        323
metal_linker               0
organic_linker1            0
organic_linker2            0
topology                   0
CO2/N2_selectivity         0
heat_adsorption_CO2     2087
CO2_working_capacity       0
dtype: int64

In [33]:
# Check uniqe (Distinct)
df['metal_linker'].unique()

array([ 3, 10,  2,  9,  4,  1, 12], dtype=int64)

In [34]:
# Check uniqe (Dixstinct)
df['metal_linker'].unique()

array([ 3, 10,  2,  9,  4,  1, 12], dtype=int64)

In [35]:
# Check uniqe (Distinct)
df['metal_linker'].unique()

array([ 3, 10,  2,  9,  4,  1, 12], dtype=int64)

In [37]:
# Clean na from selected columns
df['functional_groups'].fillna(value = 'empty',inplace=True)
df.dropna(inplace=True)
df.isnull().sum()

MOFname                 0
volume                  0
weight                  0
density                 0
surface_area            0
void_fraction           0
void_volume             0
functional_groups       0
metal_linker            0
organic_linker1         0
organic_linker2         0
topology                0
CO2/N2_selectivity      0
heat_adsorption_CO2     0
CO2_working_capacity    0
dtype: int64